<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>LD_registration_neth</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src="https://kit.fontawesome.com/14fac1d4b2.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel='stylesheet' type='text/css' media='screen' href='/vendor/bootstrap/css/bootstrap.min.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/register.css'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.15.5/dist/sweetalert2.min.css">
</head>

<body>
    <header>
        <div class="container">
            <a href="/"><img src="/media/logo_bg.png" alt=""></a>
        </div>
    </header>
    <section>
        <div class="container">
            <div class="register-header">
                <h3>Registro adventschool bestuur</h3>
                <p>Registra bo yu riba nos sistema, yenando tur e vak nan ku tin. No lubida di check si tur informashon
                    ta bon yena.</p>
            </div>
            <form action="">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="avatar-upload">
                            <div class="avatar-edit">
                                <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" />
                                <label for="imageUpload"></label>
                            </div>
                            <div class="avatar-preview">
                                <div id="imagePreview" style="background-image: url(http://i.pravatar.cc/500?img=7);">
                                </div>
                            </div>
                        </div>
                        <h5 class="avatar-text">Uplaod un potrèt di e studiante</h5>
                    </div>
                    <div class="col-lg-8">
                    </div>
                </div>
                <div class="row mb-25">
                    <h3 class="stud-text">Informashon personal: Studiante</h3>
                    <h6 class="mb-25">Bo username mester kuminsa ku nomber di bo skol por ehempel: si bo yu ta di
                        advenschool bonam e username mester kuminsa ku boMartina of korCornelia, maJones.</h6>
                    <h5 class="mb-25">Adventschool Bonam: "bo", Koralspecht: "kor", Mahuma-zuid: "ma"</h5>
                    <div class="col-lg-3">
                        <label>Skol</label>
                        <select name="" id="" class="reg-input">
                            <option value="" disabled selected>Select skol</option>
                            <option value="Bonam">Bonam</option>
                            <option value="Koralspecht">Koralspecht</option>
                            <option value="Mahuma-zuid">Mahuma-zuid</option>
                        </select>
                    </div>
                    <div class="col-lg-3">
                        <label>Username</label>
                        <input type="text" class="reg-input" placeholder="Username" name="username" id="username">
                    </div>
                    <div class="col-lg-3">
                        <label>Password</label>
                        <input type="password" class="reg-input" placeholder="Password" id="password" name="password">
                    </div>
                    <div class="col-lg-3">
                        <label>Confirm password</label>
                        <input type="password" class="reg-input" placeholder="Confirm password" id="passwordC"
                            name="passwordC">
                    </div>
                </div>
                <div class="row mb-25">
                    <div class="col-lg-3">
                        <label>Nòmber</label>
                        <input type="text" class="reg-input" placeholder="Nòmber" name="name" id="name">
                    </div>
                    <div class="col-lg-3">
                        <label>Fam</label>
                        <input type="text" class="reg-input" placeholder="Fam" id="fam" name="fam">
                    </div>
                    <div class="col-lg-3">
                        <label>Fecha nasimentu</label>
                        <input type="date" class="reg-input" placeholder="Fecha nasimentu" id="bornDate"
                            name="bornDate">
                    </div>
                    <div class="col-lg-3">
                        <label>Sexo</label>
                        <select name="sexo" id="sexo" class="reg-input">
                            <option value="" disabled selected>Sexo</option>
                            <option value="0">Homber</option>
                            <option value="1">Muhe</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-25">
                    <div class="col-lg-3">
                        <label>Nashonalidad</label>
                        <input type="text" class="reg-input" placeholder="Nashonalidad" name="nashonalidad"
                            id="nashonalidad">
                    </div>
                    <div class="col-lg-3">
                        <label>Religion</label>
                        <input type="text" class="reg-input" placeholder="Religion" id="religion" name="religion">
                    </div>
                    <div class="col-lg-3">
                        <label>Tipo di sanger</label>
                        <select name="bloodT" id="bloodT" class="reg-input">
                            <option value="" disabled selected>Tipo di sanger</option>
                            <option>A+</option>
                            <option>A-</option>
                            <option>B+</option>
                            <option>B-</option>
                            <option>O+</option>
                            <option>O-</option>
                            <option>AB+</option>
                            <option>AB-</option>
                        </select>
                    </div>
                    <div class="col-lg-3">
                        <label>Adrès</label>
                        <input type="text" class="reg-input" placeholder="Adrès" id="adres" name="adres">
                    </div>
                </div>
                <div class="row mb-25">
                    <h3 class="stud-text">Informashon personal: Famia</h3>
                </div>
                <div class="row mb-25">
                    <div class="col-lg-3">
                        <label>Nòmber di mama</label>
                        <input type="text" class="reg-input" placeholder="Nòmber di mama" name="nameM" id="nameM">
                    </div>
                    <div class="col-lg-3">
                        <label>Fam di mama</label>
                        <input type="text" class="reg-input" placeholder="Fam di mama" id="famM" name="famM">
                    </div>
                    <div class="col-lg-3">
                        <label>Fecha nasimentu</label>
                        <input type="date" class="reg-input" placeholder="Fecha nasimentu" id="bornDateM"
                            name="bornDateM">
                    </div>
                    <div class="col-lg-3">
                        <label>Nashonalidad</label>
                        <input type="text" class="reg-input" placeholder="Nashonalidad" name="nashonalidadM"
                            id="nashonalidadM">
                    </div>
                </div>
                <div class="row mb-25">
                    <div class="col-lg-3">
                        <label>Okupashon</label>
                        <input type="text" class="reg-input" placeholder="Okupashon" name="okupashon" id="okupashon">
                    </div>
                    <div class="col-lg-3">
                        <label>Adres</label>
                        <input type="text" class="reg-input" placeholder="Adres" id="AdresM" name="AdresM">
                    </div>
                </div>
                <div class="row mb-25">
                    <div class="col-lg-3">
                        <label>Telefòn di kas</label>
                        <input type="text" class="reg-input" placeholder="Number di kas" id="telMKas" name="telMKas">
                    </div>
                    <div class="col-lg-3">
                        <label>Number di Selular</label>
                        <input type="text" class="reg-input" placeholder="Telefòn di Selular" id="telMSelular"
                            name="telMSelular">
                    </div>
                    <div class="col-lg-3">
                        <label>Telefòn di Trabou</label>
                        <input type="text" class="reg-input" placeholder="Telefòn di Trabou" id="telMtrabou"
                            name="telMtrabou">
                    </div>
                </div>
                <hr>
                <div class="row mb-25">
                    <div class="col-lg-3">
                        <label>Nòmber di tata</label>
                        <input type="text" class="reg-input" placeholder="Nòmber di tata" name="nameT" id="nameT">
                    </div>
                    <div class="col-lg-3">
                        <label>Fam di tata</label>
                        <input type="text" class="reg-input" placeholder="Fam di tata" id="famT" name="famT">
                    </div>
                    <div class="col-lg-3">
                        <label>Fecha nasimentu</label>
                        <input type="date" class="reg-input" placeholder="Fecha nasimentu" id="bornDateT"
                            name="bornDateT">
                    </div>
                    <div class="col-lg-3">
                        <label>Nashonalidad</label>
                        <input type="text" class="reg-input" placeholder="Nashonalidad" name="nashonalidadT"
                            id="nashonalidadT">
                    </div>
                </div>
                <div class="row mb-25">
                    <div class="col-lg-3">
                        <label>Okupashon</label>
                        <input type="text" class="reg-input" placeholder="Okupashon" name="okupashoT" id="okupashoT">
                    </div>
                    <div class="col-lg-3">
                        <label>Adres</label>
                        <input type="text" class="reg-input" placeholder="Adres" id="AdresT" name="AdresT">
                    </div>
                </div>
                <div class="row mb-25">
                    <div class="col-lg-3">
                        <label>Telefòn di kas</label>
                        <input type="text" class="reg-input" placeholder="Number di kas" id="telTKas" name="telTKas">
                    </div>
                    <div class="col-lg-3">
                        <label>Number di Selular</label>
                        <input type="text" class="reg-input" placeholder="Telefòn di Selular" id="telTSelular"
                            name="telTSelular">
                    </div>
                    <div class="col-lg-3">
                        <label>Telefòn di Trabou</label>
                        <input type="text" class="reg-input" placeholder="Telefòn di Trabou" id="telTtrabou"
                            name="telTtrabou">
                    </div>
                </div>

                <hr>
                <div class="row mb-25">
                    <h3 class="stud-text">Otro kontakto</h3>
                </div>
                <div class="row mb-25">
                    <div class="col-lg-3">
                        <label>Nòmber</label>
                        <input type="text" class="reg-input" placeholder="Nòmber" id="nameO" name="nameO">
                    </div>
                    <div class="col-lg-3">
                        <label>Fam</label>
                        <input type="text" class="reg-input" placeholder="Fam" id="famO" name="famO">
                    </div>
                    <div class="col-lg-3">
                        <label>Familiar</label>
                        <input type="text" class="reg-input" placeholder="E.g. Oma, tanchi, tio" id="familiar"
                            name="familiar">
                    </div>
                </div>
                <div class="row mb-25">
                    <div class="col-lg-3">
                        <label>Adrès</label>
                        <input type="text" class="reg-input" placeholder="Adrès" id="adresO" name="adresO">
                    </div>
                    <div class="col-lg-3">
                        <label>Number di Selular</label>
                        <input type="text" class="reg-input" placeholder="Telefòn di Selular" id="telTSelularO"
                            name="telTSelularO">
                    </div>
                    <div class="col-lg-3">
                        <label>Telefòn di Kas</label>
                        <input type="text" class="reg-input" placeholder="Telefòn di Kas" id="telOkas" name="telOKas">
                    </div>
                </div>
                <div class="row mb-25">
                    <h6>Verifica si tur e hòki nana ta yena ku informashon korekto, si tur onformashon ta bon klik riba
                        e boton "Manda" pa manda e registro.</h6>
                </div>
                <div class="row bRow">
                    <button type="submit" class="reg-sendButton">Manda</button>
                </div>
            </form>
        </div>
    </section>

</body>
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.15.5/dist/sweetalert2.all.min.js"></script>
<script src='/vendor/bootstrap/js/bootstrap.min.js'></script>
<script src='/js/register.js'></script>

</html>